cms/app/webroot/assets/*
!cms/app/webroot/assets/empty
cms/app/webroot/pictures/*
!cms/app/webroot/pictures/empty
cms/app/webroot/static/*
!cms/app/webroot/static/empty
cms/app/webroot/js/*
!cms/app/webroot/digitals/empty
cms/app/webroot/digitals/*
cms/companion

cms/app/tmp/cache/*
cms/app/tmp/cache/models/*
!cms/app/tmp/cache/models/empty
cms/app/tmp/cache/persistent/*
!cms/app/tmp/cache/persistent/empty
cms/app/tmp/cache/views/*
!cms/app/tmp/cache/views/empty
cms/app/tmp/logs/*
!cms/app/tmp/logs/empty
cms/app/tmp/tests/*
!cms/app/tmp/tests/empty
cms/app/tmp/paks/*
cms/app/tmp/*.zip

cms/app/Controller/AdminDropins/*/style.inc.css

cms/app/Config/db_vars.php
cms/app/Config/core.php

.vagrant/


## TOOLS
npm-debug.log
.idea
.sass-cache
node_modules
/.vscode/


## OS
*.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon

._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
