//.accounts-logout {
//    width: 100vw;
//    height: calc(100vh - 9rem);
//    padding-top: 35vh;
//
//    .logout-message {
//        width: 100%;
//
//        h2 {
//            width: 100%;
//            text-align: center;
//            font-size: 3rem;
//            color: $color-neutral3;
//        }
//
//        .redirect {
//            width: 50rem;
//            margin: 3rem 0 0 30vw;
//        }
//    }
//}
