//.accounts-claim {
//  .claim-center {
//    width: 70%;
//    max-width: 70rem;
//    min-height: 30rem;
//    margin: 0 auto;
//  }
//
//  .actions {
//    text-align: right;
//  }
//
//  .no-claim {
//    position: absolute;
//    left: 50%;
//    top: 6rem;
//    width: 40rem;
//    padding: 1rem;
//    border-radius: 3px;
//    color: $orange;
//    text-align: center;
//    transform: translateX(-50%);
//    filter: drop-shadow(1px 1px 5px rgba($dark-gray, .1));
//
//    p {
//      margin-bottom: 0;
//      font-family: Oswald, sans-serif;
//    }
//  }
//
//  .claimed-codes {
//    margin-top: 1.5rem;
//
//    th {
//      font-family: "Oswald", sans-serif;
//    }
//
//    tr {
//      height: 2.1rem;
//    }
//
//    .subject-code-column-header {
//      width: 25rem;
//    }
//    .subject-name-column-header {
//      width: 45rem;
//    }
//    .hide-column-header {
//      width: 2.5rem;
//    }
//    .hide-column {
//      text-align: center;
//      input {
//        height: auto;
//      }
//    }
//  }
//}
//
//.accounts-claim-overlay {
//  h3 {
//    text-align: center;
//  }
//
//  .subject-code {
//    margin-bottom: .15rem;
//  }
//
//  .feedback {
//    padding-left: .15rem;
//    color: $dark-gray;
//    font-family: Oswald, sans-serif;
//    font-size: 1.3rem;
//
//    span.error {
//      color: $light-red;
//    }
//  }
//
//  p.explain {
//    margin: -.5rem 0 0 1.45rem;
//    color: $medium-gray;
//    font-size: 1.2rem;
//  }
//
//  .middle {
//    margin-top: 1.5rem;
//    text-align: right;
//  }
//
//  #claim {
//  }
//}
