//#message-important {
//  position: relative;
//  height: 7rem;
//  color: $white;
//  //background-color: $dark-gray;
//  background-color: rgba($blue, .65);
//  border-bottom: 3px solid $blue;
//
//  div {
//	@include text-shadow($blue 1px 1px 1px);
//	@include center();
//	position: absolute;
//  }
//}
//
//#home {
//  overflow: hidden;
//
//  #announcement-banner {
//    display: none;
//    font-family: $font-main;
//    font-size: 2rem;
//    text-transform: uppercase;
//    z-index: 14;
//
//    &.banner {
//      position: absolute;
//      background-color: $color-primary;
//      color: $white;
//      text-align: center;
//    }
//
//    &.left-corner {
//      left: -21.5rem;
//      padding: 1rem 5rem;
//      transform: rotateZ(-35deg) translateY(336%);
//      width: 60rem;
//      font-size: 1.6rem;
//
//      @include breakpoint($small-desktop) {
//        transform: rotateZ(-35deg) translateY(226%) scale(0.8);
//        left: -23rem;
//      }
//
//      @include breakpoint($mid-desktop) {
//        transform: rotateZ(-35deg) translate(0, 219%) scale(0.8);
//      }
//
//      @include breakpoint($desktop) {
//        transform: rotateZ(0deg) translate(0%, 5%) scale(1);
//        width: 100%;
//        left: 0;
//        margin-bottom: -1rem;
//      }
//    }
//
//    &.right-corner {
//      right: -18.5rem;
//      padding: 1rem 5rem;
//      transform: rotateZ(45deg) translateY(405%);
//      width: 42rem;
//
//      @include breakpoint($small-desktop) {
//        transform: rotateZ(35deg) translateY(372%) scale(0.8);
//        right: -19rem;
//      }
//
//      @include breakpoint($mid-desktop) {
//        transform: rotateZ(35deg) translate(2%, 336%) scale(0.8);
//      }
//
//      @include breakpoint($desktop) {
//        transform: rotateZ(0deg) translate(0%, 5%) scale(1);
//        width: 100%;
//        left: 0;
//        margin-bottom: -1rem;
//      }
//    }
//
//    &.middle-overlay {
//      width: 100%;
//      padding: 1rem 5rem;
//    }
//
//    &.section-message {
//      position: relative;
//      width: 100%;
//      padding: 1rem 5rem;
//      border-radius: 1.5rem;
//      box-sizing: border-box;
//    }
//
//    &.visible {
//      display: block;
//    }
//  }
//
//  .carousel {
//    position: relative;
//    width: 100vw;
//    height: calc(100vh - 9rem);
//    min-height: 50rem;
//    max-width: 100%;
//    background-size: cover;
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    justify-content: space-between;
//    padding: 5rem 0 20rem;
//
//    @include breakpoint($desktop) {
//      padding-bottom: 5rem;
//    }
//
//    .enter-internet-code {
//      position: relative;
//      display: flex;
//      flex-direction: column;
//      justify-content: space-between;
//      align-items: center;
//      z-index: 10;
//
//      @include breakpoint($desktop) {
//        left: 0;
//        top: 3rem;
//        transform: unset;
//      }
//
//      h1 {
//        font-size: 4rem;
//        font-weight: bold;
//        margin: 0 2rem 8rem;
//        text-align: center;
//        filter: drop-shadow(0 0 6px rgba(0, 0, 0, .5));
//        white-space: normal;
//
//        @include breakpoint($desktop) {
//          margin: 2rem 2rem 3rem;
//          //text-align: center;
//          font-size: 3rem;
//          //white-space: normal;
//        }
//      }
//
//      .subject-code-input-container {
//        position: relative;
//
//        input {
//          width: 27rem;
//          height: 4rem;
//          padding: 1rem 2rem;
//          font-family: Roboto, sans-serif;
//          font-size: 2.2rem;
//          text-align: center;
//
//          &::placeholder {
//            color: $color-neutral2;
//            font-family: Roboto, sans-serif;
//            font-weight: 300;
//          }
//        }
//      }
//
//      .feedback {
//        position: absolute;
//        left: 50%;
//        bottom: -1.5rem;
//        padding-left: .15rem;
//        margin-bottom: -0.5rem;
//        color: $color-neutral1;
//        font-family: Oswald, sans-serif;
//        font-size: 1.6rem;
//        white-space: nowrap;
//        transform: translateX(-50%);
//
//        &.error {
//          color: $light-red;
//        }
//      }
//
//      .missing-code {
//        visibility: hidden;
//        margin-top: 2rem;
//        color: $color-neutral1;
//      }
//
//      button {
//        margin-top: 1rem;
//      }
//
//      .missing-code-link,
//      .faq-link {
//        margin-top: .75rem;
//        filter: drop-shadow(0 0 3px black);
//        color: $color-neutral1;
//        text-align: center;
//
//        a {
//          color: $color-neutral1;
//          margin-bottom: 1rem;
//
//          &:hover {
//            color: darken($color-neutral1, 15%);
//          }
//        }
//      }
//    }
//
//    .terms {
//      position: absolute;
//      // margin: clamp(45rem, calc(100vh - 12.5rem), 110vh) 0 0 0;
//      bottom: 0.5rem;
//      display: flex;
//      right: 2rem;
//      filter: drop-shadow(0 0 3px black);
//      color: $color-neutral1;
//      z-index: 100000000;
//
//      span {
//        white-space: nowrap;
//      }
//
//      @include breakpoint($phone) {
//        font-size: 1rem;
//        right: unset;
//        width: 100vw;
//        justify-content: center;
//      }
//
//      a {
//        color: $color-neutral1;
//        margin-left: 0.5ch;
//        filter: drop-shadow(0 0 3px $color-accent);
//
//        &:hover {
//          color: darken($color-neutral1, 15%);
//        }
//      }
//    }
//
//    .arrow-down {
//      position: absolute;
//      bottom: 0;
//      color: $color-accent;
//      font-size: 20rem;
//      cursor: pointer;
//      transition: .2s transform;
//      transform-origin: center;
//
//      @include breakpoint(max-height 800px)  {
//        display: none;
//      }
//
//      &:hover {
//        transform: scale(1.1);
//      }
//
//      &:active {
//        transform: scale(.9);
//      }
//    }
//
//    .gradient {
//      position: absolute;
//      bottom: 0;
//      width: 100%;
//      height: 50rem;
//      background: linear-gradient(transparent, $color-neutral3);
//      pointer-events: none;
//    }
//  }
//
//  .hero-line {
//    padding-top: 15rem;
//    position: relative;
//    padding-bottom: 4rem;
//    background-color: $color-neutral3;
//    filter: drop-shadow(0 4px 2px rgba(0,0,0,.1));
//    scroll-margin: -9rem;
//
//    @include breakpoint($phone) {
//      padding-top: 7rem;
//    }
//
//    h2 {
//      color: $color-neutral1;
//      padding: 1.5rem;
//      font-size: 2.7rem;
//      font-weight: bold;
//      text-align: center;
//      text-transform: uppercase;
//      white-space: normal;
//
//      @include breakpoint($desktop) {
//        padding: 0 1rem;
//        font-size: 2.4rem;
//        //white-space: normal;
//      }
//    }
//
//    p {
//      margin: 4rem 15rem 0 15rem;
//      color: $color-neutral1;
//      font-size: 2rem;
//      font-weight: 300;
//      text-align: center;
//
//      @include breakpoint($phone) {
//        margin: 4rem 1rem 0 1rem;
//      }
//    }
//
//    h3 {
//      margin: 8rem 0 4rem 0;
//      padding: 0 1.5rem;
//      color: $color-accent;
//      font-weight: 500;
//      font-size: 2.4rem;
//      text-align: center;
//      line-height: 2.5rem;
//      white-space: normal;
//
//      @include breakpoint($desktop) {
//        margin: 4rem 0 3rem 0;
//        padding: 0 1rem;
//        //white-space: normal;
//      }
//    }
//  }
//
//  .who-we-are {
//    padding: 4rem 15rem 4rem 15rem;
//    background-color: rgba(0,0,0,.3);
//
//    @include breakpoint($phone) {
//      padding: 4rem 1rem 4rem 1rem;
//    }
//
//    h2 {
//      margin: 2rem 0 3rem 0;
//      color: $color-neutral1;
//      font-size: 2.7rem;
//      font-weight: bold;
//      text-align: center;
//      text-transform: uppercase;
//      filter: drop-shadow(0 0 1px #000) drop-shadow(0 0 1px #000);
//    }
//
//    p {
//      color: $color-neutral1;
//      font-size: 2rem;
//      font-weight: 300;
//      text-align: center;
//      filter: drop-shadow(0 0 1px #000) drop-shadow(0 0 1px #000);
//    }
//
//    .reserve-with-us-link {
//      font-weight: bold;
//      filter: none;
//    }
//  }
//
//  .our-services {
//    padding: 3rem 10rem;
//    background-color: $color-neutral1;
//
//    @include breakpoint($desktop) {
//      padding: 3rem 1rem;
//    }
//
//    h2 {
//      margin: 2rem 0 4rem 0;
//      color: $color-neutral4;
//      font-size: 2.7rem;
//      font-weight: bold;
//      text-align: center;
//      text-transform: uppercase;
//    }
//
//    .our-services-links {
//      display: flex;
//      flex-direction: row;
//      flex-wrap: wrap;
//      justify-content: space-between;
//
//      @include breakpoint($desktop) {
//        flex-direction: column;
//      }
//
//      a {
//        flex: 0 0 45%;
//        margin-bottom: 3rem;
//
//        @include breakpoint($phone) {
//          margin-bottom: 1.5rem;
//        }
//      }
//
//      h3 {
//        margin-top: 1rem;
//        color: $color-neutral4;
//        font-size: 2.2rem;
//        font-weight: bold;
//      }
//
//      p {
//        color: $color-neutral4;
//        font-size: 2rem;
//        font-weight: 300;
//
//        @include breakpoint($phone) {
//          font-size: 1.8rem;
//        }
//      }
//    }
//  }
//
//  .contact-us {
//    position: relative;
//    padding: 5rem 0;
//    background-color: $color-neutral4;
//    overflow: hidden;
//
//    h2 {
//      color: $color-accent;
//      font-weight: bold;
//      text-align: center;
//      text-transform: uppercase;
//    }
//
//    .contact-us-form {
//      position: relative;
//      display: flex;
//      flex-direction: row;
//      justify-content: space-between;
//      z-index: 1000;
//
//      @include breakpoint($mid-desktop) {
//        flex-direction: column;
//      }
//
//      .info {
//        flex: 0 0 35%;
//        padding: 0 2rem 0 15rem;
//
//        @include breakpoint($desktop) {
//          padding-left: 1rem;
//        }
//
//        h3 {
//          margin-bottom: 2rem;
//          color: $color-accent;
//          font-size: 2.2rem;
//          font-weight: bold;
//        }
//
//        h4 {
//          color: $color-neutral1;
//          font-size: 2rem;
//          font-weight: bold;
//        }
//
//        p {
//          margin-top: 5rem;
//          color: $color-neutral1;
//
//          @include breakpoint($mid-desktop) {
//            margin-top: 3rem;
//            margin-bottom: 3.5rem;
//          }
//        }
//      }
//
//      .form-fields {
//        flex: 1 0;
//        padding: 0 15rem 0 2rem;
//
//        @include breakpoint($mid-desktop) {
//          padding: 0 2rem 0 15rem;
//        }
//
//        @include breakpoint($desktop) {
//          padding: 0 2rem 0 2rem;
//        }
//
//        div {
//          label {
//            margin: 1.5rem 0 .5rem 0;
//            color: $color-neutral1;
//            font-weight: bold;
//
//            // &[for="agree-promo"] {
//            //   display: inline-block;
//            //   font-size: smaller;
//            //   font-weight: normal;
//            // }
//          }
//
//          span {
//            display: inline;
//
//            label {
//              margin: 1.1rem 0 1.5rem;
//              float: left;
//              white-space: normal;
//              display: inline;
//              font-size: smaller;
//              font-weight: normal;
//            }
//          }
//        }
//
//        .g-recaptcha {
//          margin: 1rem 0 3rem;
//
//          @include breakpoint(max-width 340px) {
//            position: relative;
//            left: -2rem;
//            transform: scale(0.8);
//          }
//        }
//
//      }
//
//      .send-your-message {
//        margin-top: -3.5rem;
//
//        @include breakpoint($small-desktop) {
//          margin-top: 5.5rem;
//          float: left;
//        }
//
//      }
//    }
//
//    .phone-icon {
//      position: absolute;
//      left: -9rem;
//      bottom: -6rem;
//      color: $color-accent;
//      font-size: 45rem;
//      --fa-primary-opacity: 0;
//    }
//  }
//}
