.terms-and-conditions {
  text-align: justify;

  h2 {
    margin-top: 1em;
  }

  ul.purchase-terms {
    list-style: square outside;

    li {
      --color-lightness: 50%;
      margin-left: 1.2em;
      margin-bottom: .8em;

      span {
        color: $default-black;
      }
    }
  }

  ol {
    margin: .6em 0 0 1.2em;
    list-style-position: outside;

    li {
      margin-bottom: .4em;
    }

    ol {
      margin-left: 1.2em;
    }
  }

  .decimal {
    list-style-type: decimal;
  }

  .roman-numerals {
    list-style-type: lower-roman;
  }

  .lowercase {
    list-style-type: lower-alpha;
  }
}
