.admin-form {
  h3 {
    margin-bottom: 2rem;
    text-align: center;
  }

  div {
    margin: .5em 0;
  }
}

.columns-2 {
  display: flex;
  flex-direction: row;

  div {
    flex: 1 0;

    &:first-child {
      padding-right: .5rem;
    }
    &:last-child {
      padding-left: .5rem;
    }
  }
}
