@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:200";
$adminNavBarWidth: 25%;

#admin-container {
  display: table;
  table-layout: fixed;
  width: 100%;

  &.dark {
    color: $color-neutral1;

    #admin-nav {
      background-color: $color-neutral4;
      border-right: 0;
      box-shadow: 1px 0 5px rgba(black, .25);
    }

    .admin-menu {
      li {
        &.selected {
          background-color: lighten($color-neutral4, 5%) !important;

          &:after {
            border-left-color: lighten($color-neutral4, 5%) !important;
          }
        }
      }
    }

    #admin-content {
      background-color: darken($color-neutral4, 5%);

      input, select, .tags-container {
        color: $color-neutral1;
        background-color: lighten($color-neutral4, 15%);
        border: 1px solid lighten($color-neutral4, 20%);
      }
      .tags-dropdown {
        background-color: $color-neutral4;

        li {
          &:hover {
            background-color: rgba($color-neutral1, .15);
          }
        }
      }

      .overlay {
        background-color: lighten($color-neutral4, 10%);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, .45);
      }

      .db-table-container,
      .db-table {
        border: none !important;

        table {
          background-color: $color-neutral4 !important;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, .25);
          border: none !important;

          tr, th, td {
            color: $color-neutral1;
            background-color: transparent !important;
            border-color: lighten($color-neutral4, 10%);
          }
        }
      }
    }

    #{headings()} {
      color: $color-neutral1;
    }

    .ui-button {
      background-color: $color-primary;
    }

    .help-balloon {
      div {
        background-color: $color-neutral4;
      }
    }

    #orders-table {
      .selected {
        background-color: #536d4f;
      }
    }
  } // .dark
}

#admin-nav {
  position: relative;
  display: table-cell;
  width: 250px;
  padding: 1rem 0;
  background-color: $color-neutral1;
  white-space: nowrap;
  border-right: 1px solid darken($color-neutral1, 5%);
  box-shadow: 1px 0 5px rgba(black, .1);

  .color-scheme-toggle {
    position: absolute;
    top: .75rem;
    right: .75rem;
    font-size: 2.5rem;
    color: $color-neutral2;
    cursor: pointer;
  }

  ul.admin-menu {
    li {
      .category-title {
        padding-left: 1rem;
        color: $color-neutral2;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 200;
        font-size: 2.2rem;
      }

      ul {
        margin-bottom: .75rem;

        li {
          font-family: "Slabo", sans-serif;
          padding: .5rem 2rem;
          font-size: 1.4rem;

          a {
            display: inline-block;
            width: 100%;
            height: 100%;
          }

          &.selected {
            content: " ";
            position: relative;
            background-color: darken($color-neutral1, 5%);

            &:after {
              content: " ";
              position: absolute;
              left: 100%;
              top: 50%;
              width: 0;
              height: 0;
              border: solid transparent;
              border-width: 1.15rem;
              border-left-color: darken($color-neutral1, 5%);
              margin-top: -1.1rem;
            }
          }
        }
      }
    }
  }
}

#admin-content {
  display: table-cell;
  width: 100%;
  padding: 2rem;
  overflow-x: scroll;

  #admin-build-your-own {
    .build-your-own-overlay {
      
    }
  }
}

.build-info-footer {
  height: 3rem;

  ul {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 35px;

    li {
      text-align: center;
      color: $color-neutral2;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 200;
      font-size: 1.2rem;
    }
  }
}

#footer {
  bottom: unset;
}

#content {
  padding-bottom: 0;
}