/*
 * HeO2 - Proprietary RAD Web Framework
 * Copyright  2015-2019, Heliox - All Right Reserved
 */

#add-category > * {
    margin: .2em 0;
}

#product-groups {
    width: 100%;
}

#delivery-option-groups {
    width: 100%;
}
