#admin-promo-codes {
    h1 {
        margin-top: 2rem;
    }

    a {
        color: #fff;
    }

    .categories-select {
        width: unset;
    }


    ul {
        display: grid;
        grid-auto-rows: auto;
        gap: 1rem;
        margin: 0 0 1.5rem 0;

        li {

        }
    }

    .buttons {
        label {
            display: inline-block;
            width: unset;
        }
    }

    .promo-campaign-table {
        margin: 3rem auto;
        width: 100%;
        max-width: 60rem;

        .promo-campaign-title {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1.5rem;
            margin: 0 0 2rem;

            p {
                font-size: 2.2rem;
            }
        }

        p {
            margin: 0 0 1rem 0;
        }

        .promo-campaign-rows {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: auto;

            .promo-campaign-cols-code {
                grid-column: 1 / 2;

            }

            .promo-campaign-cols-used {
                grid-column: 2 / 3;
            }

            .promo-campaign-cols-id {
                grid-column: 3 / 4;
            }
        }
        
    }

    #create-series-overlay {
        h3 {
            margin-bottom: 2rem;
        }

        label {
            display: grid;
            grid-template-rows: auto;
            gap: 1rem;
            margin-bottom: 2rem;
        }
    
        .buttons {
            
        }
    }
}
