// _base.scss
// ===============

:root {
  font-family: "Roboto Flex", sans-serif;
  // <width>: Use a value from 25 to 151
  --font-width: 100;
  // <slant>: Use a value from -10 to 0
  --font-slant: 0;
  scroll-behavior: smooth;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" var(--font-slant),
    "wdth" var(--font-width),
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
}

a {
  color: #f6f4eb;
  text-decoration: none;
  cursor: pointer;

  &.underlined {
    text-decoration: underline solid currentColor;
    line-height: 1.25em;
  }

  &:hover {
    color: #f99e1d;
  }
}

img {
  max-width: 100%;
}

em {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

#{headings()} {
  font-family: $head-font;
  font-size: 1.6rem;
}

.accent {
  color: var(--color-accent);
}

.error {
  color: var(--color-semantic-error);
}

h1 {
  font-size: 2.1rem;
  margin-bottom: 1rem;
  color: #f6f4eb;

  @include breakpoint($phone) {
    font-size: 2.6rem;
  }
}

h2 {
  font-size: 2.7rem;
  margin-bottom: 1.5rem;

  @include breakpoint($phone) {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
}

h3 {
  font-size: 2.2rem;
  margin-bottom: 1rem;

  @include breakpoint($phone) {
    font-size: 1.8rem;
  }
}

h4 {
  font-size: 1.9rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}

section {
  @include clearfix;
}

header.header-nav,
.footer,
#home,
#order-app,
#complete {
  font-family: $font-main;

  em {
    font-style: italic;
    --font-slant: -10;
  }

  b,
  strong {
    font-weight: 600;
  }

  #{headings()} {
    font-family: $font-main;
    font-size: 1.6rem;
  }

  h2 {
    font-size: 2.7rem;
    margin-bottom: 1.5rem;

    @include breakpoint($phone) {
      font-size: 2.2rem;
      margin-bottom: 1rem;
    }
  }

  h3 {
    font-size: 2.2rem;
    margin-bottom: 1rem;

    @include breakpoint($phone) {
      font-size: 1.8rem;
    }
  }

  h4 {
    font-size: 1.9rem;
  }
}

.fine {
  //<span class="fine">&nbsp;</span>
  font-size: 50%;
}

input[type='checkbox'] {
  margin-bottom: 0.7rem;
  margin-right: 1.5rem;

  &::after {
    @extend .color-neutral-20;
    content: "";
    padding: 0 0.743rem;
    position: relative;
    top: 0.9rem;
    border-radius: 5px;
    border: 2px solid var(--color-background-neutral);
    box-shadow: 0 0 0 1px lightgray;
  }

  &:checked {
    &::after {
      background-color: var(--color-accent);
    }
  }
}