//@import "susy";
//@import "breakpoint";
//@import "compass";
//@import "compass/reset";
//@import "compass/css3/box-shadow";
//@import "variables";
//@import "mixins";
//
//$medium: max-width 200px;
//$xlarge: max-width 200px;
//
//
//.dialog-overlay-legacy {
//  @extend .color-neutral-16;
//  position: fixed;
//  width: 96%;
//  max-height: 90%;
//  padding: 10px 5px;
//  border-radius: 4px;
//  z-index: 1000000001;
//  @include center();
//  @include box-shadow(0 0 60px 10px rgba(0, 0, 0, 0.3));
//}
//
//@include breakpoint($medium) {
//  .dialog-overlay-legacy {
//    padding: 30px;
//    width: 70%;
//  }
//}
//
//@include breakpoint($xlarge) {
//  .dialog-overlay-legacy {
//    width: 62%;
//  }
//}
//
//.close-dialog-overlay-legacy {
//  position: absolute;
//  width: 24px;
//  height: 24px;
//  right: 10px;
//  top: 10px;
//  cursor: pointer;
//  background: url('../img/dubious/close.png') 0 0;
//
//  &:hover {
//    background: url('../img/dubious/close.png') 24px 0;
//  }
//}
//
//.content-dialog-overlay-legacy {
//  width: 100%;
//  height: 100%;
//  margin: 0 auto;
//  background-color: transparent;
//}
//
//.dialog-overlay-dimmer-legacy {
//  position: fixed;
//  left: 0;
//  top: 0;
//  right: 0;
//  bottom: 0;
//  background-color: #000;
//  opacity: .7;
//  z-index: 1000000000
//}
//
//#order-code-layout-text {
//  height: 45px;
//  width: 61%;
//  color: #006fd7;
//  font-size: 24px;
//  text-align: center;
//  vertical-align: bottom;
//}
//
//#order-code-layout-button {
//  height: 45px;
//  width: 36%;
//  vertical-align: bottom;
//  margin-left: 3%;
//}
//
//@import "modules/ui";
//
//#code-form-short-terms {
//  font-size: 0.8em;
//
//  h2 {
//    text-align: center;
//  }
//
//  ol {
//    margin-left: 1.50em;
//    list-style-type: decimal;
//  }
//
//  p {
//    text-align: center;
//    font-size: inherit;
//  }
//}
//
//@include breakpoint($medium) {
//
//  #code-form-short-terms {
//    font-size: 1em;
//  }
//}
//
//#order-code-layout-text {
//  height: 45px;
//  width: 61%;
//  font-size: 24px;
//  text-align: center;
//  vertical-align: bottom;
//}
//
//
//#order-code-layout-button {
//  height: 45px;
//  width: 36%;
//  vertical-align: bottom;
//  margin-left: 3%;
//}
//
//.footer {
//  bottom: -22rem !important;
//}
//
//html {
//  @extend .color-neutral-4;
//}
//
