.progression .container {
  top: 0;
}

.packages .packages-display .description ul {
  box-sizing: content-box;
  width: 180px;
}

.products-container .products .product .price-box i {
  left: 28%;
  top: 24%
}

.photo-choose .photo-container .selected-images .selected-photo-item img {
  width: 193px;
  height: 270px;
}
