.progress-radial {
  float: left;
  margin-right: 30px;
  position: relative;
  border-radius: 50%;
  border: 2px solid $back-color;
  background-color: $bar-color;
}

.progress-radial .overlay {
  position: absolute;
  width: 81%;
  height: 81%;
  background-color: $overlay-color;
  border-radius: 50%;
  margin-left: 9%;
  margin-top: 10%;
  text-align: center;
  color: $font-color;
  font-weight: bold;
}

$step: 1;

$loops: round(100 / $step);
$increment: 360 / $loops;
$half: round($loops / 2);

@for $i from 0 through $loops {
  .progress-#{$i * $step} {
    @if $i < $half {
      $nextdeg: 90deg + $increment * $i;
      background-image: linear-gradient(90deg, $back-color 50%, transparent 50%, transparent), linear-gradient($nextdeg, $bar-color 50%, $back-color 50%, $back-color);
    }
    @else {
      $nextdeg: -90deg + $increment * ($i - $half);
      background-image: linear-gradient($nextdeg, $bar-color 50%, transparent 50%, transparent), linear-gradient(270deg, $bar-color 50%, $back-color 50%, $back-color);
    }
  }
}
