.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;

  @include transform(translate(-50%, -50%));

  &.reversed {
    li {
      border: 3px solid #fff;
      animation: loadingReverse 1s infinite;

      &:nth-child(1n) {
        animation-delay: 0s;
      }

      &:nth-child(2n) {
        animation-delay: 0.2s;
      }

      &:nth-child(3n) {
        animation-delay: 0.4s;
      }
    }
  }

  li {
    position: absolute;
    top: 50%;
    left: 0;
    height: 50px;
    width: 50px;
    border: 3px solid $orange;
    border-radius: 100%;
    animation: loading 1s infinite;

    @include transform(translateZ(0));

    &:nth-child(1n) {
      left: -75px;
      animation-delay: 0s;
    }

    &:nth-child(2n) {
      left: 0;
      animation-delay: 0.2s;
    }

    &:nth-child(3n) {
      left: 75px;
      animation-delay: 0.4s;
    }
  }
}

@keyframes loading {
  0%   {
    transform: scale(0.5);
    background: $orange;
  }

  50%   {
    transform: scale(1);
    background: transparent;
  }

  100% {
    transform: scale(0.5);
    background: $orange;
  }
}

@keyframes  loadingReverse {
  0%   {
    transform: scale(0.5);
    background: transparent;
  }

  50%   {
    transform: scale(1);
    background: $orange;
  }

  100% {
    transform: scale(0.5);
    background: transparent;
  }
}
