.tags-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 3rem;
  @include input-border();
  @include border-radius();

  div {
    flex: 1 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: hidden;

    input {
      flex: 1 0;
      padding-left: .5rem;
      outline: 0;
      background: transparent !important;
      border: none !important;

      &.hide-caret {
        caret-color: transparent;
      }
    }
  }

  .tags-trigger {
    position: absolute;
    right: .5rem;
    top: .7rem;
    flex: 0 0 1.6rem;
    //transform: translate(-10%, -4%);

    i {
      &:hover {
        --color-hue: 180;
      }
    }
  }

  .tags-dropdown {
    position: absolute;
    top: 100%;
    width: 100%;
    max-height: 35rem;
    text-align: left;
    border: 1px solid currentColor;
    box-shadow: 1px 1px 4px rgba(10, 10, 10, .35);
    overflow-y: auto;
    z-index: 1;

    li {
      padding: .6rem .8rem;

      &:hover {
        --color-lightness: 50%;
      }
    }
  }

  .tag-badge {
    flex: 0 0;
    display: inline-block;
    height: 2rem;
    margin-right: .3rem;
    padding: .2rem .4rem;
    border-radius: 3px;
    cursor: default;
    white-space: nowrap;

    &:after {
      content: "\00d7";
      display: inline-block;
      width: 1.2rem;
      height: 1.2rem;
      margin-left: .2rem;
      text-align: center;
      font-size: 1.2rem;
      line-height: 1.1rem;
      //background-color: darken($mid-blue, 15%);
      border-radius: 50%;
      transform: translateY(-.1rem);
    }
    &.highlight,
    &:hover {
      box-shadow: 0 0 0 2px var(--color-accent);

      &:after {
        color: #ff6363;
        text-shadow: 0 0 1px black;
        font-weight: bold;
      }
    }

    &:first-of-type {
      margin-left: .5rem;
    }
  }
}
