.ui-button {
  @include border-radius();
  --color-lightness: 0%;
  min-height: 3rem;
  padding: 0 1rem 0 1.3rem;
  font-family: $head-font;
  font-size: 1.6rem;
  letter-spacing: .5px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background: var(--color-accent);
  cursor: pointer;

  &:hover {
    filter: brightness(1.1);
  }

  &.disabled,
  &[disabled] {
    background-color: var(--color-semantic-disabled);
    opacity: .5;
  }
}

.dialog-ui-button {
  @extend .ui-button;

  padding: 0;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-align: center;
}

input[type="text"] {
  &.disabled {
    background-color: var(--color-semantic-disabled);
  }
}

.spinner {
  --color-lightness: 100%;
  --dot-width: 1rem;
  --dot-color: #fff;
  --dot-offset: calc(var(--dot-width) * -1.5);
  color: var(--dot-color);
  position: relative;
  font-size: var(--dot-width);
  transform: translateY(#{calc(var(--dot-width) * -2.5)});
  animation-delay: -0.16s;

  &,
  &:before,
  &:after {
    width: var(--dot-width);
    height: var(--dot-width);
    border-radius: 50%;
    animation-fill-mode: both;
    animation: spinner-running 1.8s infinite ease-in-out;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
  }

  &:before {
    left: var(--dot-offset);
    animation-delay: -0.32s;
  }

  &:after {
    right: var(--dot-offset);
    animation-delay: 0.32s;
  }
}


@keyframes spinner-running {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
