/*
 * HeO2 - Proprietary RAD Web Framework
 * Copyright 2015-2019, Heliox - All Right Reserved
 */

@import "../../../../../resources/scss/variables";

.overview {
    font-size: 1.4rem;
}

#admin-orders-view {
    .overview {
        font-size: 1.6rem;

        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 3rem;
        }


        .container {
            hr {
                clear: both;
            }

            .left-section-column {
                float: left;
                width: 45%;
                margin-right: 5px;
                min-width: 28rem;
            }

            .right-section-column {
                
            }

            div {
                section {
                    float: left;
                    margin-right: 1rem;
                    margin-bottom: 1.5rem;

                    .order-contacts {
                        display: flex;
                        flex-direction: row;

                        .left-column {
                            flex: 0 0 auto;
                            margin-right: 1rem;
                            min-width: 10rem;
                        }

                        .right-column {
                            flex: 0 0 auto;
                            min-width: 10rem;
                            overflow-x: auto;
                        }
                    }

                    .transaction-table {
                        tbody {
                            tr {
                                td {
                                    padding: .4rem 0;
                                    font-size: 1.4rem;

                                    &:first-child {
                                        padding-right: 1rem;
                                    }
                                }
                            }
                        }
                    }

                    .product-comment {
                        white-space: normal !important;
                    }

                    section {

                        h4 {

                        }

                        .subject-table {
                            tbody {
                                tr {
                                    td {
                                        padding: .4rem 0;
                                        font-size: 1.4rem;

                                        &:first-child {
                                            padding-right: 1rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                    a {

                    }
                }
            }

            .cart {
                width: 100%;

                .cart-item {
                    display: flex;
                    flex-direction: row;
                    //justify-content: space-between;
                    margin: 0 1rem 1rem 0;
                    font-size: 1.6rem;
                    
                    div {
                        &:first-child {
                            flex: 0 0 22rem;
                        }

                        &:last-child {
                            >div {
                                float: left;
                            }

                        }

                        h3 {

                        }

                        ul {
                            li {
                                white-space: pre;

                                .byopSelection {
                                    display: inline-flex;
                                }

                                &.product-comment {
                                    white-space: normal !important;
                                }
                            }
                        }
                        
                        img {
                            height: 17.5rem;
                        }

                        span {

                        }
                        
                    }
                }
            }
        }
    }

    .upload {
        min-height: 15rem;

        button {

            &:last-child {
                margin-right: 100vh;
            }
        }

        .images {
            display: block;
            
            img {
                width: 20rem;
                height: 25.7rem;
                float: left;
                margin-right: 1rem;
                margin-bottom: 1rem;
            }
        }
    }

    .comments {
        .comment {
            margin-top: 2.5rem;
        }
        .new-comment {
            padding: 1rem;

            label {
                margin-top: 2rem;

                input {
                    width: 20rem;
                }
            }

            textarea {
                margin-top: 1rem;
                color: $color-neutral1;
                background-color: $color-neutral3;
                border: 0;
            }

            button {
                margin-top: 1rem;
            }
        }


    }

    .print-tags-product-selector {
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        top: 8rem;
        right: 1rem;
        width: 25rem;
        min-height: 25rem;
        padding: 2rem 1rem;
        color: $color-neutral4;
        background-color: $color-neutral1;
        border-radius: 5px;

        &.show {
            display: flex;
        }

        &:after {
            content: "";
            position: absolute;
            left: 54%;
            right: auto;
            top: -15px;
            bottom: auto;
            border-width: 0 15px 15px 15px;
            border-style: solid;
            border-color: $color-neutral1 transparent;
            display: block;
            width: 0;
            margin-left: -15px;
            border-color: $color-neutral1 transparent;
        }

        div:first-child {
            flex: 2 0;
        }

        div:last-child {
            flex: 0 0;
            width: 100%;
            text-align: right;
        }
    }
}

sup {
    vertical-align: super;
    font-size: smaller;
}

.filters {
    margin: 1rem 0;
    padding: .5rem;
    border-top: 2px dashed #cfcfcf;
    border-bottom: 2px dashed #cfcfcf;
}

.filters .criteria {
    margin-bottom: .5em;
}

.filters label {
    display: inline-block;
    margin-right: 1rem;
    text-align: center;
}

.filters label span {
    display: block;
}

.filters select {
    height: 28px;
}

.filters button {
    padding-top: 0;
    padding-bottom: 0;
}

.sep {
    position: relative;
    display: inline-block;
    top: -60px;
    height: 100%;
    line-height: 133px;
    font-size: 40px;
}

#orders-table {
    border: 0;
    font-family: "Open Sans";
    font-weight: 400;
    width: 100%;

    tr {
        display: grid;
        grid-template-columns: 25px 50px 350px 75px 155px 250px 300px auto;
        align-items: center;
    }

    td {
        padding: .5rem 0;
        cursor: pointer;
        text-align: center;
        align-items: center;
        height:100%;

        &.order-name {
            text-align: left;
            padding-left: 1rem;
        }

        &.order-total {
            text-align: right;
            padding: 0 2.5rem 0 0;
        }

        &.order-date {
            padding: 0 0.5rem;
        }
    }

    th {
        text-align: center;
        font-family: Oswald;
        padding-bottom: .5rem;
        cursor: pointer;
        user-select: none;

        &.order-check {
            text-align: left;
        }

        i {
            margin-left: .5rem;
        }

        &.order-id {

        }

        &.order-name {
            i {
                visibility: hidden;
            }
        }

        &.order-total {
            i {
                visibility: hidden;
            }
        }

        &.order-date {
            i {
                visibility: hidden;
            }
        }

        &.order-session {
            i {
                visibility: hidden;
            }
        }

        &.order-delivery-option {
            i {
                visibility: hidden;
            }
        }

        &.order-transaction-code {
            i {
                visibility: hidden;
            }
        }
    }

    thead {
        tr {
            border-bottom: 1px #cfcfcf solid;
        }
    }

    tbody {
        tr{
            &:not(:last-child) {
                border-bottom: 1px #cfcfcf dashed;
            }

            &:hover {
                td {
                    background: linear-gradient(to left, rgba(235, 235, 235, .2), rgba(235, 235, 235, .2));
                }
            }
        }

        .selected {
            background: #d0eabe;
        }
    }
}

ul.subject-info:not(first-child) {
    margin-left: 10px;
}

.help-balloon {
    cursor: help;
}

.help-balloon div {
    display: none;
    position: absolute;
    padding: .75em;
    background: #ebebeb;
    border: 1px #989898 solid;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(33, 33, 33, .4);
    z-index: 1;
}

.help-balloon:hover div {
    display: inline-block;
}

.delete-button {
    pointer-events: none;
    filter: grayscale(1);
}

.send-confirmation-button {
    pointer-events: none;
    filter: grayscale(1);
}

.images {
    display: none;
}

.upload-button {
    background-color: $color-neutral2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 0 1rem 0 1.3rem;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 1.6rem;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    cursor: default;
    pointer-events: none;

    &.uploadable {
        background-color: $color-primary;
        cursor: pointer;
        pointer-events: all;
    }
}



.state-has-uploads {
    .browse-button {
        
    }

    .upload-button {
        
    }

    .delete-button {
        pointer-events: all;
        filter: grayscale(0);
    }

    .send-confirmation-button {
        pointer-events: all;
        filter: grayscale(0);
    }

    .images {
        display: block;
    }
}

.orders-table-section {
    position: relative;
}

.admin-spinner {
    display: none;
    position: absolute;
    top: 5rem;
    left: 50%;
    color: #ffffff;
    font-size: 1rem;
    text-indent: -9999em;
    transform: translateX(-50%) translateZ(0);
    animation-delay: -0.16s;

    &,
    &:before,
    &:after {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        animation-fill-mode: both;
        animation: order-complete-cc-payment 1.8s infinite ease-in-out;
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
    }

    &:before {
        left: -3.5rem;
        animation-delay: -0.32s;
    }

    &:after {
        left: 3.5rem;
        animation-delay: 0.32s;
    }
}


@keyframes order-complete-cc-payment {
    0%,
    80%,
    100% {
        box-shadow: 0 3.5rem 0 -1.3rem;
    }
    40% {
        box-shadow: 0 3.5rem 0 0;
    }
}
