/*
 * HeO2 - Proprietary RAD Web Framework
 * Copyright  2015-2019, Heliox - All Right Reserved
 */

#delivery-options {
  width: 100%;
  height: 135px;
}

#delivery-option-properties {
  height: 200px;
  border: 1px #ccc solid;
  border-radius: 5px;
}

#method {
  width: 100%;
}
