/*
 * HeO2 - Proprietary RAD Web Framework
 * Copyright  2015-2019, Heliox - All Right Reserved
 */

@import "../../../../../resources/scss/variables";

label {
  width: 20rem;
  margin-bottom: 1rem;
}
