/*
 * HeO2 - Proprietary RAD Web Framework
 * Copyright  2015-2019, Heliox - All Right Reserved
 */

@import "../../../../../resources/scss/variables";

#cross-sell-overlay {
    min-width: 65rem;

    h3 {
      color: white;
    }

    .input-group {
      padding-top: 0.5rem;

      input {
        margin-top: 0.7rem;
      }

      &.products{
        font-size: 2rem;

        span {
          margin-top: 0.5rem;
          font-size: 1.3rem;
          display: block;
        }
      }

      .columns-2 {
        margin-top: 0.5rem;
        margin-bottom: 1rem;

        div {
          display: inline;
          padding: 0;

          :first-child {
            margin-right: 0.5rem;
          }

          label {
            margin-bottom: 0.5rem;
          }

          select {
            width: 29rem;
            min-height: 10rem;
          }
        }
      }
    }
}